@import url(https://fonts.google.com/specimen/Nunito);
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

body{
    background: linear-gradient(to right, blue, pink);
}

.start{
    text-align: center;
    border: 1px black solid;
    border-radius: 10px;
    margin: 100px 300px;
    padding: 10px 0px;
    background: black ;
    opacity: .8;
}

.title{
    font-size: 70px;
    color: blueviolet;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sect{
    text-align: left;
    margin: 40px;
    color: aliceblue;
    font-size: 28px;
}

label .min_title{
    margin-bottom: 10px;
    
}

.text{
    line-height: 20px;
    list-style:georgian;
    width: 100%;
    background: transparent;
    border: none;
    color: aliceblue;
    border-bottom: 1px solid #fff;
    font-size: 15px;
}

.submit{
    background: blueviolet;
    width: 200px;
    height: 70px;
    font-size: 30px;
}